#jumbo {
    background-color: #333;
    color: #eee;
}

div.disabled {
    background-color: #eee;
}

.checkbox-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 0;
    margin-right: 10px;
}

    .checkbox-inline + .checkbox-inline:last-child {
        margin-right: 0;
    }

.step-number {
    background-color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
    margin-top: 20px;
}

.step {
    text-align: center;
}

.step-icon {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.daily-report {
    background-color: white;
    display: inline-block;
}

.daily-report-small {
    width: 50px;
    height: 60px;
}

.daily-report-big {
    width: 128px;
    height: 128px;
}

.alert-warning .daily-report {
    border-color: #c09853;
    background: url("Images/individuals.png") no-repeat center;
}

.alert-info .daily-report {
    border-color: #3a87ad;
    background: url("Images/manager.png") no-repeat center;
}

.alert-success .daily-report {
    border-color: #468847;
    background: url("Images/stakeholders.png") no-repeat center;
}

.step-facts {
    padding-bottom: 20px;
}

.how-it-works {
    background-color: #eee;
}

[ng-form] {
    position: relative;
}

.form-notification {
    position: absolute;
    top: 9px;
    right: 12px;
    font-size: 14px;
    color: rgba(185, 74, 72, 0.8);
    background-color: rgb(255, 255, 255);
    line-height: normal;
}

.project {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ddd;
}

.project > div:first-of-type {
    padding-top: 7px;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -ms-animation: spin 1.2s infinite linear;
    -webkit-animation: spinw 1.2s infinite linear;
    -moz-animation: spinm 1.2s infinite linear;
}

a[ng-click] {
    cursor: pointer;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

@media only screen and (max-width : 520px) {
    .form-notification {
        position: static;
        float: right;
        font-size: 90%;
        background-color: transparent;
    }
}
