* {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    font-weight: bold;
    color: #000;

    * {
        font-family: 'Montserrat', sans-serif;
    }

    img {
        width: 100%;
        height: 100%;
    }

    span {
        color: #29a9e1;
    }
}

.full-page {
    position: relative;
    height: 100vh;
}

.hcenter {
    margin: 0 auto;
    text-align: center;
}

.vcenter-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    > .vcenter {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

[data-page] {
    margin-top: 60px;
}

.jumbo {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #29a9e1;

    h1,
    p,
    label {
        color: #fff;
    }
}

header {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 8000;
    font-size: 16px;

    .menu-logo {
        font-size: 18px;

        .logo-image {
            width: 45px;

            svg {
                vertical-align: bottom;
            }
        }

        .logo-text {
            vertical-align: bottom;
        }

        > * {
            display: inline-block;
        }
    }

    .public-menu {
        margin-top: 8px;

        a:hover {
            text-decoration: none;
        }
    }

    .breadcrumb {
        background-color: transparent;
        margin: 0;
        padding: 13px 70px 0 30px;
    }

    .user-menu {
        position: relative;

        .user-settings {
            position: absolute;
            top: 8px;
            right: 0;
        }
    }

    .about {
        display: none;
    }
}


footer {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid #DDD;

    a {
        color: #333;
        text-decoration: underline;

        &:nth-child(2n) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .about {
        display: none;
    }
}

.report-summary-examples {

    > div {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(238,238,238,0.45) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(238,238,238,0.45)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.45) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.45) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.45) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(238,238,238,0.45) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6eeeeee',GradientType=0 );
        border-bottom: 1px solid rgba(238,238,238, 0.45);
        overflow: hidden;
    }
}

.how-it-works {
    margin-top: 20px;
}

div.disabled {
    background-color: #eee;
}

.checkbox-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 0;
    margin-right: 10px;
}

.checkbox-inline + .checkbox-inline:last-child {
    margin-right: 0;
}

.steps-row {
    margin-top: 50px;

    .step {
        text-align: center;

        .step-number {
            background-color: white;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-weight: 500;
            display: inline-block;
        }

        .step-icon {
            padding-top: 20px;
            text-align: center;
        }

        h4 {
            margin-bottom: 0;
        }

        p.step-facts {
            font-weight: 500;

            i {
                font-weight: lighter;
            }
        }
    }
}

.daily-report {
    background-color: white;
    display: inline-block;
}

.daily-report-small {
    background-size: 100% !important;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

.daily-report-big {
    width: 128px;
    height: 128px;
}

.alert-warning .daily-report {
    border-color: #c09853;
    background: url("Images/individuals.svg") no-repeat center;
}

.alert-info .daily-report {
    border-color: #3a87ad;
    background: url("Images/manager.svg") no-repeat center;
}

.alert-success .daily-report {
    border-color: #468847;
    background: url("Images/stakeholders.svg") no-repeat center;
}

.step-facts {
    padding-bottom: 20px;
}

.form-notification {
    position: absolute;
    right: 0;
    font-size: 90%;
    color: rgba(185, 74, 72, 0.8);
    background-color: transparent;
}

.glyphicon {
    background-color: transparent;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -ms-animation: spin 1.2s infinite linear;
    -webkit-animation: spinw 1.2s infinite linear;
    -moz-animation: spinm 1.2s infinite linear;
}

.status-message {
    vertical-align: middle;
}

[ng-form] {
    position: relative;
}

[ng-click] {
    cursor: pointer;
}

[ng-click]:hover {
    text-decoration: none;
}

[data-page='welcome'] {

    .full-page {
        margin-top: -50px;
    }

    h1,
    h2 {
        font-weight: 400;
    }

    h4,
    .help-block {
        display: inline-block;
        max-width: 680px;
        line-height: 1.6em;
        font-size: 1.2em;
        color: black;
        font-weight: lighter;
    }

    .jumbo {
        margin-bottom: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu-logo {
        display: none;
    }

    .about {
        display: inline-block;
    }

    .call-to-action {
        margin-top: 30px;

        a {
            font-weight: 700;
            font-size: 1em;
            padding: 10px 10px;
            white-space: normal;
        }
    }

    .step .step-number {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18pt;
        margin-top: 20px;
    }

    .welcome {
        margin-top: 50px;

        .main-logo {
            font-size: 25px;
            margin-bottom: 30px;

            .logo-image {
                width: 100px;
            }
        }

        h1 {
            font-weight: bold;
            font-size: 22px;
        }

        h4 {
            font-weight: normal;
            max-width: 520px;
        }
    }

    .report-summary {

        .row {
            margin: 0;
            margin-top: 50px;
        }

        img {
            max-width: 100%;
            border-left: 1px solid #DADADA;
            border-right: 1px solid #DADADA;
            margin-top: 10px;
        }
    }

    .reasons-to-join {
        padding-bottom: 50px;
    }

    .how-it-works {
        display: none;
    }
}

[data-page='howItWorks'] {

    .report-summary {

        .row {
            margin: 0;
            margin-top: 50px;
        }

        img {
            max-width: 100%;
            border-left: 1px solid #DADADA;
            border-right: 1px solid #DADADA;
            margin-top: 10px;
        }

        margin-bottom: 50px;
    }

    h1,
    h2 {
        font-weight: 400;
    }

    h4,
    .help-block {
        display: inline-block;
        max-width: 680px;
        line-height: 1.6em;
        font-size: 1.2em;
        color: black;
        font-weight: lighter;
    }

    .step .step-number {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18pt;
        margin-top: 20px;
    }

    .jumbo {

        p {
            color: #FFF;
        }
    }
}

[data-page='confirmEmail'] {

    .alert-success,
    .alert-danger {
        background-color: #fff;
    }
}

[data-page='signin'] {

    form {
        max-width: 500px;
    }
}

[data-page='signup'] {

    form {
        max-width: 500px;
    }
}

[data-page='instances'] {

    form {
        max-width: 500px;
    }

    .instance {
        display: inline-block;
    }
}

[data-page='projects'] {

    .projects .help-block {
        margin-top: -10px;

        & > span {
            background-color: transparent;
        }
    }

    .project {
        display: inline-block;
    }
}

[data-page='confirmIndividualDraft'],
[data-page='sendIndividualDraft'],
[data-page='confirmDraft'],
[data-page='sendDraft'] {
    margin-top: 0;

    header {
        display: none;
    }

    .main-logo {
        margin-bottom: 80px;
    }

    .confirmation-result {
        display: inline-block;
    }
}

[data-page='contact'] {

    form {
        max-width: 500px;
    }
}

[data-page='eula'] {

    .row p {
        font-size: 16px;
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@media (max-width: 992px) {

    .hcenter-xs {
        text-align: center;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .form-notification {
        position: absolute;
        top: 9px;
        right: 12px;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
        line-height: normal;
    }

    [data-page='welcome'] {

        .welcome {

            .main-logo {
                margin-bottom: 60px;
                font-size: 32px;

                .logo-image {
                    width: 150px;
                }
            }

            h1 {
                font-size: 36px;
            }

            .report-summary {

                .row {
                    margin-top: 80px;
                }
            }
        }

        .call-to-action {
            margin-top: 60px;

            a {
                font-size: 1.6em;
                padding: 10px 15px;
            }
        }

        h4 {
            font-size: 1.2em;
        }
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .vcenter-content > * {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
