@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="policyEditorApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/maincss")
    <script>var projectId = @Html.Raw(Model);</script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/js/policyEditorApp.js"></script>
</head>

<body ng-controller="policyEditPage">
    <div class="container" ng-if="loading">
        <h3>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </h3>
    </div>
    <form name="advancedOptionsForm" ng-if="!loading">
        <div id="jumbo" class="jumbotron">
            <div class="container">
                <h1>
                    {{policy.projectName}}
                </h1>
                <p class="help-block">
                    Use this page to configure all options for the daily 
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Send at:
                            </label>
                            <div ng-form="reportTimeForm">
                                <input name="reportTime" type="text" class="form-control" placeholder="08:00" ng-model="policy.reportTime" ng-pattern="/^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/" />
                                <span class="form-notification" ng-show="reportTimeForm.reportTime.$error.pattern"><b>Enter valid time</b> (23:59)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>
                Advanced options
            </h1>
            <h3>
                Recipients
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Send draft to:
                        </label>
                        <div ng-form="emailDraftForm">
                            <input name="emailDraft" type="text" class="form-control" placeholder="dan@equilobe.com; catalin@equilobe.com" ng-model="policy.draftEmails" ng-pattern=@Html.Raw(@"/^((\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)\s*[;]{0,1}\s*)+$/") />
                            <span class="form-notification" ng-show="emailDraftForm.emailDraft.$error.pattern"><b>Enter valid email</b> (dan@eq.com)</span>
                        </div>
                        <p class="help-block">Leave blank to send to everyone in the team.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Send final report to:
                        </label>
                        <div ng-form="emailFinalForm">
                            <input name="emailFinal" type="text" class="form-control" placeholder="dan@equilobe.com; catalin@equilobe.com" ng-model="policy.emails" ng-pattern=@Html.Raw(@"/^((\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)\s*[;]{0,1}\s*)+$/") />
                            <span class="form-notification" ng-show="emailFinalForm.emailFinal.$error.pattern"><b>Enter valid email</b> (dan@eq.com)</span>
                        </div>
                        <p class="help-block">Leave blank to send to everyone in the team.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-alternate">
            <h3>
                Planning
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Expected daily team work rate (hours/day):
                        </label>
                        <div ng-form="hoursDayPlanningForm">
                            <input name="hoursDayPlanning" type="text" class="form-control" placeholder="24" ng-model="policy.allocatedHoursPerDay" ng-pattern="/^[0-9]+$/" />
                            <span class="form-notification" ng-show="hoursDayPlanningForm.hoursDayPlanning.$error.pattern"><b>Enter valid number</b> (84)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Monthly hour limit:
                        </label>
                        <div ng-form="hoursMonthPlanningForm">
                            <input name="hoursMonthPlanning" type="text" class="form-control" placeholder="400" ng-model="policy.allocatedHoursPerMonth" ng-pattern="/^[0-9]+$/" />
                            <span class="form-notification" ng-show="hoursMonthPlanningForm.hoursMonthPlanning.$error.pattern"><b>Enter valid number</b> (584)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>
                Source control
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Type:
                        </label>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" value="None" ng-model="policy.sourceControlOptions.type" />
                                None
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="GitHub" ng-model="policy.sourceControlOptions.type" />
                                GitHub
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="SVN" ng-model="policy.sourceControlOptions.type" />
                                SVN
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="policy.sourceControlOptions.type == 'GitHub'">
                <div class="panel-heading">
                    <h4>GitHub</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Repository Owner:
                                </label>
                                <div>
                                    <input type="text" name="gitRepoOwner" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.repoOwner" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Repository Name:
                                </label>
                                <div>
                                    <input type="text" name="gitRepoName" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.repo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Username:
                                </label>
                                <div>
                                    <input type="text" name="gitUsername" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.credentials.username" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Password:
                                </label>
                                <div>
                                    <input type="text" name="gitPassword" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.credentials.password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="policy.sourceControlOptions.type == 'SVN'">
                <div class="panel-heading">
                    <h4>SVN</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Repository Url:
                                </label>
                                <div ng-form="svnRepoUrlForm">
                                    <input type="text" name="svnRepoUrl" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.repo" ng-pattern=@Html.Raw(@"/^(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?$/") />
                                    <span class="form-notification" ng-show="svnRepoUrlForm.svnRepoUrl.$error.pattern"><b>Enter valid url</b> (http://drt.equilobe.com:33256/)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Username:
                                </label>
                                <div>
                                    <input type="text" name="svnUsername" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.credentials.username" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Password:
                                </label>
                                <div>
                                    <input type="text" name="svnPassword" class="form-control" placeholder="" ng-model="policy.sourceControlOptions.credentials.password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-alternate">
            <h3>
                User options
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Select user:
                        </label>
                        <select class="form-control" ng-model="user" ng-options="user as user.jiraDisplayName for user in policy.userOptions"></select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="user.jiraDisplayName.length">
                <div class="panel-heading">
                    <h4>{{user.jiraDisplayName}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Source control account:
                                </label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>--none--</option>
                                        <option selected="selected">dan</option>
                                        <option>catalin</option>
                                        <option>sebi</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email override:</label>
                                <div ng-form="emailOverrideForm">
                                    <input name="emailOverride" type="text" class="form-control" placeholder="dan@equilobe.com" ng-model="user.emailOverride" ng-pattern=@Html.Raw(@"/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/") />
                                    <span class="form-notification" ng-show="emailOverrideForm.emailOverride.$error.pattern"><b>Enter valid email</b> (dan@eq.com)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="user.ignored" ng-checked="user.ignored" />
                                    Exclude from report
                                </label>
                                <p class="help-block">An excluded user won't show up in the report and won't receive the </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>
                Monthly options
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select month:</label>
                        <select class="form-control" ng-model="month" ng-options="month as month.monthName for month in policy.monthlyOptions"></select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="month.monthName.length">
                <div class="panel-heading">
                    <h4>{{month.monthName}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Expected daily team work rate (hours/day):
                                </label>
                                <div ng-form="hoursDayMonthlyForm">
                                    <input name="hoursDayMonthly" type="text" class="form-control" placeholder="24" ng-model="month.allocatedHoursPerDay" ng-pattern="/^[0-9]*$/" />
                                    <span class="form-notification" ng-show="hoursDayMonthlyForm.hoursDayMonthly.$error.pattern"><b>Enter valid number</b> (84)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Monthly hour limit:
                                </label>
                                <div ng-form="hoursMonthMonthlyForm">
                                    <input name="hoursMonthMonthly" type="text" class="form-control" placeholder="400" ng-model="month.allocatedHoursPerMonth" ng-pattern="/^[0-9]*$/" />
                                    <span class="form-notification" ng-show="hoursMonthMonthlyForm.hoursMonthMonthly.$error.pattern"><b>Enter valid number</b> (584)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Free days:
                                </label>
                                <div ng-form="freeDaysMonthlyForm">
                                    <input name="freeDaysMonthly" type="text" class="form-control" placeholder="1 16 31" ng-model="month.nonWorkingDays" ng-pattern="/^([1-9]|(1|2)[0-9]|3[0,1])?(\s([1-9]|(1|2)[0-9]|3[0,1]))*$/" />
                                    <span class="form-notification" ng-show="freeDaysMonthlyForm.freeDaysMonthly.$error.pattern"><b>Enter valid days</b> (1 16 31)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>
                Advanced
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Report title:
                        </label>
                        <input type="text" class="form-control" placeholder="Daily Report" ng-model="policy.advancedOptions.reportTitle" />
                        <p class="help-block">
                            If left blank the default will be used: Daily 
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Reopened tasks status:
                        </label>
                        <input type="text" class="form-control" placeholder="Reopened" ng-model="policy.advancedOptions.reopenedStatus" />
                        <p class="help-block">
                            If left blank the default will be used: Reopened.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Label used for permanent tasks:
                        </label>
                        <input type="text" class="form-control" placeholder="permanent" ng-model="policy.advancedOptions.permanentTaskLabel" />
                        <p class="help-block">Permanent tasks are not closed at the end of one sprint, but are used for the same activity for multiple sprints (e.g. sprint planning, testing).</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Draft options:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.noDraft" />
                                Do not send a draft report
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.noIndividualDraft" ng-checked="policy.advancedOptions.noDraft" ng-disabled="policy.advancedOptions.noDraft" />
                                Do not send a draft report to each user
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToAllUsers" />
                                Send final draft to all users
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToProjectManager" ng-checked="policy.advancedOptions.sendDraftToAllUsers" ng-disabled="policy.advancedOptions.sendDraftToAllUsers" />
                                Send final draft to project manager
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToOthers" />
                                Send final draft to others
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Report options:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendFinalToAllUsers" />
                                Send report to all users
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendFinalToOthers" />
                                Send report to others
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Weekend days:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Sunday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Monday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Tuesday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Wednesday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Thursday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Friday
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                Saturday
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>
                <button class="btn btn-success" ng-disabled="!advancedOptionsForm.$valid" ng-click="updatePolicy(this.policy)">Save advanced options</button>
            </h3>
        </div>
    </form>

    @Html.Partial("_HowItWorks")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
</body>
</html>