@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="policyEditorApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/maincss")
    @Html.IncludeConnectJs()
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/js/policyEditorApp.js"></script>
</head>

<body ng-controller="policyListPage">
    <div id="jumbo" class="jumbotron">
        <div class="container">
            <h1>
                Daily Report Setup
            </h1>
            <p class="help-block">
                Use this page to configure all options for the daily report.
            </p>
        </div>
    </div>

    <div class="table">
        <div class="container" ng-if="policyStatus == 'loading'">
            <h3>
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </h3>
        </div>
        <div class="container" ng-if="policyStatus == 'loaded' && !policyList.length">
            <h1>
                <span class="alert-danger">
                    No projects available
                </span>
            </h1>
            <p class="help-block">
                Daily Report tool is unable to find any project.
            </p>
        </div>
        <div class="container" ng-if="!loading && policyList.length">
            <div class="row">
                <label class="col-sm-6 col-md-6">
                    Project name
                </label>
                <label class="col-sm-4 col-md-4">
                    Report time
                </label>
                <label class="col-sm-2 col-md-2">
                    Options
                </label>
            </div>
            <div class="row project" ng-repeat="policy in policyList">
                <div class="col-sm-6 col-md-6">
                    {{policy.projectName}}
                </div>
                <div class="col-sm-4 col-md-4">
                    <div ng-form="reportForm">
                        <input name="reportTime" type="text" class="form-control" placeholder="08:00" ng-model="policy.reportTime" ng-pattern="/^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/" ng-blur="updateReportTime(this)" />
                        <span class="form-notification" ng-show="reportForm.reportTime.$error.pattern"><b>Enter valid time</b> (23:59)</span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <a ng-href="~/Policy/Details/{{policy.projectId}}" class="btn btn-default">Details</a>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("_HowItWorks")



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
</body>
</html>