<a href="@Model.Url" style="display:inline-block;">
    <span style="width:100px; height:35px; line-height:35px; border:1px solid #CCC; text-decoration:none; border-radius:5px; text-align:center; background-color:@Model.Color; font-size:12px; color:black; display:inline-block">@Model.Text</span>
</a>