@if (Model.Count > 0)
{
    <span style="color:black">
        @Model.Count
        @if (Model.Count == 1)
        {
            <span style="color:black;"> commit </span>
        }
        else
        {
            <span style="color:black;"> commits </span>
        }
        @Partial("Views/commitsList.cshtml", Model)
    </span>
}