    <a href="@Model.Policy.DraftConfirmationUrl" style="display:inline-block">
        <span style="width:200px; height:40px; line-height:20px; text-decoration:none; border-radius:5px; text-align:center; background-color:#5CB85C; font-size:12px; font-weight:bold; color:white; display:inline-block">Confirm entire draft and send official report</span>
    </a>