    <a href="@Model.Policy.DraftConfirmationUrl" style="display:inline-block">
        <span style="width:100px; margin-left:10px; height:35px; line-height:35px; text-decoration:none; border-radius:5px; text-align:center; background-color:#5CB85C; font-size:12px; color:white; display:inline-block">Confirm Draft</span>
    </a>