<div style="margin-top:50px">
    <a href="@Model.Policy.DraftConfirmationUrl">
        <span style="width:60px; height:25px; line-height:25px; text-decoration:none; border-radius:5px; text-align:center; background-color:#2A784C; font-size:12px; font-weight:bold; color:white; display:inline-block">Confirm</span>
    </a>
</div>