@Partial("Views/workedHeader.cshtml", Model)
@if (Model.Issues != null)
{
    if (Model.Issues.Count > 0)
    {
        <table cellpadding="1">
                <tr>
                    <td width="15" height="1" style="font-size:1px; line-height:1px; padding:0px">
                        &nbsp;
                    </td>
                    <td width="15" height="1" style="font-size:1px; line-height:1px; padding:0px">
                        &nbsp;
                    </td>
                    <td width="250" height="1" style="font-size:1px; line-height:1px; padding:0px">
                        &nbsp;
                    </td>
                </tr>
                @foreach (var issue in Model.Issues)
                {
                    if (issue.ExistsInTimesheet == true && issue.LoggedAuthor == Model.AuthorName)
                    {
                        @Partial("Views/workedTask.cshtml", issue)
                    }
                    else
                    {
                        @Partial("Views/parentTask.cshtml", issue)
                    }

                    if (issue.SubtasksDetailed != null)
                    {
                        foreach (var subtask in issue.SubtasksDetailed)
                        {
                            @Partial("Views/workedTask.cshtml", subtask)
                        }
                    }
                }

                @if (Model.UnsyncedCommits.Count > 0)
                {
                    @Partial("Views/unrelatedCommits.cshtml", Model.UnsyncedCommits)
                }
        </table>
    }
}


