@if (Model.IsEmpty)
{
    <table>
        <tbody>
            <tr>
                <td width="200px" height="14px">
                    <h3 style="color:orange">User has no work logged</h3>
                </td>
            </tr>
        </tbody>
    </table>
}