<table height="30" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="14" style="padding:0px">
                <span style="color:#ABABAB; font-size:11px"> You received this email because <a href="mailto:@Model.Settings.InstalledInstance.User.Email" style="color:#15C; text-decoration:none">@Model.Settings.InstalledInstance.User.Email</a> subscribed for the Daily Report at <a href="http://dailyreport.equilobe.com" style="color:#15C; text-decoration:none">http://dailyreport.equilobe.com</a> and you are part of the JIRA project. If you don't want to receive this email please contact this person directly.</span>
            </td>
        </tr>
        <tr>
            <td height="14" style="padding:0px">
                <span style="color:#ABABAB; font-size:11px">For help please send an email to <a href="mailto:dailyreport@equilobe.com" style="text-decoration:none; color:#15C">dailyreport@equilobe.com</a>.</span>
            </td>
        </tr>
    </tbody>
</table>