<table style="margin-top:50px">
    <tbody>
        <tr>
            <td height="25px" style="max-height:25px"> <img style="width:100px; height:25px" src="https://dailyreport.equilobe.com/content/images/logo-menu.PNG" /> </td>
            <td height="25px" style="max-height:25px"></td>
            <td height="25px" style="max-height:25px"></td>
            <td height="25px" style="max-height:25px"></td>
        </tr>
        <tr>
            <td height="14px" colspan="4">
                <span style="color:#B8B8B8; font-size:11px"> You received this email because <a href="mailto:@Model.Settings.InstalledInstance.User.Email" style="color:#15C; text-decoration:none">@Model.Settings.InstalledInstance.User.Email</a> subscribed for the Daily Report at <a href="http://dailyreport.equilobe.com" style="color:#15C; text-decoration:none">http://dailyreport.equilobe.com</a> and you are part of the JIRA project. If you don't want to receive this email please contact this person directly.</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="14px">
                <span style="color:#B8B8B8; font-size:11px">For help please send an email to <a href="mailto:dailyreport@equilobe.com" style="text-decoration:none; color:#15C">dailyreport@equilobe.com</a>.</span>
            </td>
            <td colspan="2" height="14px">
            </td>
        </tr>
    </tbody>
</table>