<a href="@Model" style="display:inline-block;">
    <span style="width:100px; height:35px; line-height:35px; border:1px solid #EEA236; text-decoration:none; border-radius:5px; text-align:center; background-color:#F0AD4E;  color:white; display:inline-block">Force Full Draft</span>
</a>