<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="2">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="120" height="30" style="line-height:35px">
                            <a href="https://dailyreport.equilobe.com">
                                <img width="120" height="30" style="display:block" src="https://dailyreport.equilobe.com/content/images/logo-menu.PNG" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="20" style="line-height:20px; font-size:20px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h1 style="color:black; font-family:'Segoe UI', sans-serif, Arial; font-weight:normal; margin:0;">@Model.Title</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color:black; font-family:'Segoe UI', sans-serif, Arial; padding:0">
                @Model.Date
            </td>
        </tr>

        @if (Model.IsIndividualDraft || Model.IsFinalDraft)
        {
            <tr>
                <td colspan="2" height="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="30" width="440" valign="middle" align="center" style="background-color:#FEFAC0; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:2px; padding-right:2px">
                    <span style="color:#A77A23; font-family:'Segoe UI', sans-serif, Arial; font-size:14px">This is a DRAFT report. Please confirm it using the button at the end</span>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>