<table cellpadding="0" cellspacing="0">
    
        <tr>
            <td width="90" height="30" valign="middle" style="padding:0px; text-align:center;background-color:#5CB85C; border-radius:5px;" title="This will confirm the draft ONLY for this particular user and send the draft report to the project manager &#013; Only click the button after: &#013; - errors have been corrected &#013; - all work has been logged">
                @Partial("Views/confirmationButton.cshtml", Model.IndividualDraftInfo.ConfirmationDraftUrl)
            </td>

            <td width="30" height="30" valign="middle" style=" padding:0px; text-align:center;">
               <span style="color:black">or</span>
            </td>

            <td width="100px" height="30" valign="middle" style="padding:0px;">
                <a style="color:#0000FF; text-decoration:none; " href="@Model.IndividualDraftInfo.ResendDraftUrl" title="If the information in the report has changed and you want to see how it looks now, before confirming it, you can get a new one.">Resend</a>
            </td>
        </tr>
    
</table>

@if (Model.IsProjectLead == true)
{
    <table>
        <tr>
            <td height="16" width="250">
                <hr style="margin-left:0px; padding:0px;" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span style=" color:black;">
                    If not everyone from your team has confirmed their report, you can also <a style="color:#0000FF; font-weight:bold; text-decoration:none;" href="@Model.IndividualDraftInfo.ForceDraftUrl">force the full draft</a>.
                </span>
            </td>
        </tr>
    </table>
}