@foreach (var pullRequest in Model)
 {
    <span style="color:green"> &#x2022; <a style="text-decoration:none; color:green;" href="@pullRequest.GithubPullRequest.HtmlUrl"> pull request </a> </span>   
 }       
