@foreach (var pullRequest in Model)
 {
    <span style="color:#ABABAB"> @Dot() <a style="text-decoration:none; color:#ABABAB;" href="@pullRequest.GithubPullRequest.HtmlUrl"> pull request </a> </span>   
 }       
