@foreach (var pullRequest in Model)
 {
    <span style="color:green"> &#x25cf; <a style="text-decoration:none; color:green; font-weight:bold" href="@pullRequest.GithubPullRequest.HtmlUrl"> pull request </a> </span>   
 }       
