@foreach (var pullRequest in Model)
 {
    <span style="color:green"> <span style="font-style:normal; font-size:25px; vertical-align:middle">&#x2022; </span> <a style="text-decoration:none; color:green;" href="@pullRequest.GithubPullRequest.HtmlUrl"> pull request </a> </span>   
 }       
