<a href="@Model.Policy.ResendDraftUrl" style="display:inline-block;">
    <span style="width:200px; height:40px; line-height:36px; text-decoration:none; border-radius:5px; text-align:center; background-color:#337AB7; font-size:12px; font-weight:bold; color:white; display:inline-block">Resend draft report</span>
</a>