@{
    string[] delim = { "<br />" };
}
<div style="margin-top:25px;">
    <b style="color:black">@Model.Count</b>
    @if (Model.Count > 1)
    {
        <span style="color:black"> unrelated commits </span>
    }
    else
    { 
        <span style="color:black"> unrelated commit </span>
    }
    <b>@Partial("Views/commitsList.cshtml", Model)</b>
</div>