@{
    var openParentheses = "(";
    var closedParentheses = ")";
    var comma = ",";
}

<span style="color:black"> @Model.Count</span>
@if(Model.Count==1)
{
    <span style="color:black">unrelated pull request</span>
}
else
{
    <span style="color:black">unrelated pull requests</span>
}

@foreach(var pullRequest in Model)
{
    if(pullRequest == Model.First())
    {
        openParentheses = "(";
    }
    else
    {
        openParentheses = "";
    }
    if(pullRequest == Model.Last())
    {
        comma = "";
        closedParentheses = ")";
    }
    else
    {
        closedParentheses = "";
        comma = ", ";
    }
    <span style="color:black">@openParentheses<a style="text-decoration:none; color:green" href="@pullRequest.GithubPullRequest.HtmlUrl">@pullRequest.GithubPullRequest.Number</a>@comma@closedParentheses</span>
}