@{
    string[] delim = { "<br />" };
}
<div style="margin-top:25px;">
    @Model.Count
    @if (Model.Count > 1)
    {
        <b style="color:black"> unrelated commits </b>
    }
    else
    { 
        <b style="color:black"> unrelated commit </b>
    }
    <b>@Partial("Views/commitsList.cshtml", Model)</b>
</div>