@{

    var dayName = "";
}


<b style="color:Sienna; font-size:16px; "> @Model.Date.DayOfWeek </b>
@if (Model.TimeSpent > 0)
{
    <span style="color:Sienna; font-size:12px;"> <span style="font-style:normal; font-size:25px; vertical-align:middle">&#x2022; </span> @Model.TimeLogged worked </span>
}
else
{
    <b style="color:orange; font-size:12px;"> <span style="font-style:normal; font-size:25px; vertical-align:middle">&#x2022; </span> no work logged </b>
}