@{
    var test = false;
    var dayName = "";
}
@if(Model.Issues!=null)
{
    if (Model.Issues.Count > 0)
    {
        test = true;
    }
    else 
    {
        test = false;
    }
}
@if(Model.Commits.Count>0)
{
    test = true;
}
@if(Model.Title == "Yesterday")
{
    dayName = "(" + Model.Date.DayOfWeek + ")";
}
@if (test==true)
{
    <b style="color:Sienna; font-size:16px; "> @Model.Title @dayName</b>
    if (Model.TimeSpent > 0)
    {
        <span style="color:Sienna; font-size:12px;"> &#x25cf; @Model.TimeLogged worked </span>
    }
    else
    {
        <b style="color:red; font-size:12px;"> &#x25cf; no work logged </b>
    }
}



