@{

    var dayName = "";
}

    <b style="color:Sienna; font-size:12px; "> @Model.Date.DayOfWeek </b>
    @if (Model.TimeSpent > 0)
    {
        <span style="color:Sienna; font-size:12px;"> &#x25cf; @Model.TimeLogged worked </span>
    }
    else
    {
        <b style="color:orange; font-size:12px;"> &#x25cf; no work logged </b>
    }



