@{

    var dayName = "";
}


<b style="color:Sienna; font-size:16px; "> @Model.Date.DayOfWeek </b>
@if (Model.TimeSpent > 0)
{
    <span style="color:Sienna; "> @Dot() @Model.TimeLogged worked </span>
}
else
{
    <b style="color:orange; "> @Dot() no work logged </b>
}