@{
    var test = false;
    var dayName = "";
}
@if(Model.Issues!=null)
{
    if (Model.Issues.Count > 0)
    {
        test = true;
    }
    else 
    {
        test = false;
    }
}
@if(Model.Commits.Count>0)
{
    test = true;
}
@if(Model.Date == DateTime.Today.AddDays(-1))
{
    dayName = "(" + DateTime.Today.AddDays(-1).DayOfWeek + ")";
}
@if (test==true)
{
    <b style="color:Sienna; font-size:16px; "> @Model.Title @dayName</b>
    if (Model.TimeSpent > 0)
    {
        <span style="color:Sienna; font-size:12px;"> &#x25cf; @Model.TimeLogged worked </span>
    }
    else
    {
        <span style="color:red; font-size:12px;"> &#x25cf; no work logged </span>
    }
}



