@{
    var test = false;
}
@if(Model.Issues!=null)
{
    if (Model.PullRequests != null)
    {
        if (Model.PullRequests.Count > 0)
        {
            test = true;
        }
    }
    else if (Model.Issues.Count > 0 || Model.Commits.Count > 0)
    {
        test = true;
    }
    else 
    {
        test = false;
    }
}
else
{
    test = false;
}
@if (test==true)
{
    <b style="color:Sienna; font-size:16px; "> @Model.Title (@Model.Date.ToString("dddd")) </b>
    if (Model.TimeSpent > 0)
    {
        <span style="color:Sienna; font-size:12px;"> &#x25cf; @Model.TimeLogged worked </span>
    }
    else
    {
        <span style="color:red; font-size:12px;"> &#x25cf; no work logged </span>
    }
}



