<header>
    <div class="container">
        <div class="menu-logo pull-left">
            <a href="/">
                <img src="Content/Images/logo-menu.PNG" />
            </a>
        </div>

        <div ng-if="!isAuth" class="public-menu">
            <div class="pull-right">
                <a class="btn btn-link about" ng-click="pageScroll('#about')">About</a>
                <a class="btn btn-link" ng-href="app/signup">Sign Up</a>
                <a class="btn btn-link" ng-href="app/signin">Log in</a>
            </div>
        </div>

        <div ng-if="isAuth" class="user-menu">
            <div class="user-settings" ng-if="!isPlugin">
                <a class="btn btn-link pull-right" ng-click="signOut(this)">Logout</a>
            </div>
        </div>
    </div>
</header>