<div class="jumbotron jumbo" ng-if="status == 'loading'">
    <div class="container">
        <h1>
            Instances
        </h1>
        <p class="help-block">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </p>
    </div>
</div>

<div ng-if="status == 'loaded'">
    <div class="jumbotron jumbo">
        <div class="container">
            <h1>
                Instances
            </h1>
            <p class="help-block">
                Use this page to configure all options for the Daily Report.
            </p>
        </div>
    </div>
    <div class="container" ng-if="!instances.length">
        <h2>
            <span class="alert-danger">
                No instances available
            </span>
        </h2>
        <p class="help-block">
            Daily Report tool is unable to find any instance.
        </p>
    </div>
    <div class="container" ng-if="instances.length" ng-show="!addingInstance && !editingInstance">
        <div class="row" ng-repeat="instance in instances">
            <div class="col-sm-7">
                <a class="instance" ng-href="app/instances/{{instance.id}}/projects/">
                    <h3>
                        {{instance.hostname}}
                    </h3>
                </a>
            </div>
            <div class="col-sm-5">
                <div class="pull-right">
                    <h3>
                        <button class="btn btn-default glyphicon glyphicon-cog" ng-click="editInstance(this)" ng-disabled="addingInstance || editingInstance" title="Edit Instance"></button>
                        <!--<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteInstance(this)" ng-disabled="addingInstance || editingInstance" title="Delete Instance"></button>-->
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="addingInstance || editingInstance">
        <form name="form" novalidate ng-show="!subscribePhase">
            <h3>
                JIRA
            </h3>
            <div class="form-group">
                <label>
                    Instance Url
                </label>
                <div ng-form="instanceUrlForm">
                    <input name="instanceUrl" type="text" class="form-control" placeholder="Jira Instance Url" ng-required="true" ng-model="form.baseUrl" ng-focus="instanceUrl.focus = true" ng-blur="instanceUrl.focus = false" ng-pattern=regex.Url ng-disabled="editingInstance" />
                    <span class="form-notification" ng-show="instanceUrlForm.instanceUrl.$error.pattern && !instanceUrl.focus"><b>Enter valid url</b> (http://drt.equilobe.com:33256/)</span>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Time Zone
                </label>
                <div>
                    <select class="form-control" ng-required="true" ng-model="form.timeZone" ng-options="timeZone.id as timeZone.name for timeZone in timeZoneList"></select>
                    <!--<span class="form-notification" ng-show="form.timeZone == null"><b>Please select a Time Zone</b></span>-->
                </div>
            </div>
            <div class="form-group">
                <label>
                    Username
                </label>
                <div>
                    <input type="text" class="form-control" ng-required="true" placeholder="JIRA username" ng-model="form.jiraUsername" />
                </div>
            </div>
            <div class="form-group">
                <label>
                    Password
                </label>
                <div>
                    <input type="password" class="form-control" ng-required="true" placeholder="Jira password" ng-model="form.jiraPassword" />
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-danger" ng-click="clearInstanceForm(this)">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="saveInstance(this)">
                    Save
                </button>
                <span class="status-message" ng-show="status == 'saving'">
                    <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    <span>Saving</span>
                </span>
                <span class="status-message" ng-show="status == 'success' && form.$pristine">
                    <span class="alert-success glyphicon glyphicon-ok"></span>
                    <span>{{message}}</span>
                </span>
                <span class="status-message" ng-show="status == 'error' && form.$pristine">
                    <span class="alert-danger glyphicon glyphicon-remove"></span>
                    <span>{{message}}</span>
                </span>
            </div>
        </form>

        <div ng-show="subscribePhase">
            <button type="button" class="btn btn-default mg-btm-30" ng-click="backToInstanceEdit(this)">Edit JIRA Details</button>
            <p>Subscribe for <em>{{instanceUrl}}</em>.</p>
            <p>It may take up to a few minutes to process the subscription and to update the list of JIRA servers.</p>
            <div class="subscribe hcenter" ng-if="isSubscriptionOnTrial && subscribePhase">
                <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instanceUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport-dev.equilobe.com/app/instances">
                    <input type="hidden" name="hosted_button_id" value="USVJSPUC2AT7W">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedForm}}" />
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>-->
                <form class="hcenter" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="TX3GULY2UD36Y">
                    <input type="image" src="https://dailyreport.equilobe.com/content/images/subscribe-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instanceUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport.equilobe.com/app/instances">
                    <input type="hidden" name="custom" value="{{serializedForm}}" />
                    <input type='hidden' name='rm' value='2'>
                </form>
            </div>

            <div class="subscribe hcenter" ng-if="!isSubscriptionOnTrial && subscribePhase">
                <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instanceUrl}}">
                    <input type="hidden" name="hosted_button_id" value="VFAC7AWMFHERS">
                    <input type="hidden" name="return" value="http://dailyreport-dev.equilobe.com/app/instances">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedForm}}" />
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>-->
                <form class="hcenter" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YXCUUN4TJDQ9Y">
                    <input type="image" src="https://dailyreport.equilobe.com/content/images/subscribe-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instanceUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport.equilobe.com/app/instances">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedForm}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-show="!addingInstance && !editingInstance">
            <h3>
                <button class="btn btn-default glyphicon glyphicon-plus pull-right" ng-click="addInstance(this)" title="Add New Instance"></button>
            </h3>
        </div>
    </div>
    <div ng-show="!addingInstance && !editingInstance" class="container mg-top-10">
        <!--<a href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=UPQDRYSGXEG62" target="_blank">
            <img src="https://www.sandbox.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif" border="0">
        </a>-->
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=MBX8JCWNUM95U">
            <img src="https://dailyreport.equilobe.com/content/images/unsubscribe-button.png" border="0">
        </a>
    </div>
</div>

