<div class="jumbotron jumbo" ng-if="status == 'loading'">
    <div class="container">
        <h1>
            Projects
        </h1>
        <p class="help-block">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </p>
    </div>
</div>

<div ng-if="status == 'loaded'">
    <div class="jumbotron jumbo">
        <div class="container">
            <h1>
                Projects
            </h1>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{instance.baseUrl}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="instance in instances"><a href="#" ng-click="setInstance(this.instance)">{{instance.baseUrl}}</a></li>
                    <li class="divider"></li>
                    <li><a href="/app/instances"><span class="glyphicon glyphicon-cog"></span> Manage JIRA servers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-if="!instances.length">
        <h2>
            <span class="alert-danger">
                No instances available
            </span>
        </h2>
        <p class="help-block">
            Daily Report is unable to find any instance.
        </p>
    </div>

    <div ng-if="instances.length">
        <div class="container" ng-if="!instance.projects.length && instance.isActive">
            <h2>
                <span class="alert-danger">
                    No projects available
                </span>
            </h2>
            <p class="help-block">
                Daily Report is unable to find any project.
            </p>
        </div>
        <div class="container" ng-if="!instance.isActive">
            <h2>
                <span class="alert-danger">
                    Instance is not active
                </span>
            </h2>
            <p class="help-block">
                You have to subscribe for this instance
            </p>
            <div ng-if="isSubscriptionOnTrial">
                <p class="help-block">
                    First month for this instance is free
                </p>
                <!--<form class="hcenter" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="item_name" value="Daily Report payment for {{instance.baseUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport-dev.equilobe.com/app/instances">
                    <input type="hidden" name="hosted_button_id" value="USVJSPUC2AT7W">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedInstance}}" />
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>-->
                <form class="hcenter" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="TX3GULY2UD36Y">
                    <input type="image" src="https://dailyreport.equilobe.com/content/images/subscribe-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instance.baseUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport.equilobe.com/app/instances">
                    <input type="hidden" name="custom" value="{{serializedInstance}}" />
                    <input type='hidden' name='rm' value='2'>
                </form>
            </div>
            <div ng-if="!isSubscriptionOnTrial">
                <!--<form class="hcenter" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="item_name" value="Daily Report payment for {{instance.baseUrl}}">
                    <input type="hidden" name="hosted_button_id" value="VFAC7AWMFHERS">
                    <input type="hidden" name="return" value="http://dailyreport-dev.equilobe.com/app/instances">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedInstance}}" />
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>-->
                <form class="hcenter" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YXCUUN4TJDQ9Y">
                    <input type="image" src="https://dailyreport.equilobe.com/content/images/subscribe-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    <input type="hidden" name="item_name" value="Daily Report subscription for {{instance.baseUrl}}">
                    <input type="hidden" name="return" value="http://dailyreport.equilobe.com/app/instances">
                    <input type='hidden' name='rm' value='2'>
                    <input type="hidden" name="custom" value="{{serializedInstance}}" />
                </form>
            </div>
        </div>
        <div class="container" ng-if="instance.projects.length">
            <a ng-href="app/instances/{{instance.id}}/report/" >
                <h3>
                    See the Report Dashboard
                </h3>
            </a>
        </div>

        </div>
        <div class="container projects" ng-if="instance.projects.length">
            <div ng-repeat="project in instance.projects">
                <a class="project" ng-href="app/instances/{{project.installedInstanceId}}/projects/{{project.id}}/settings/">
                    <h3>
                        {{project.projectName}}
                    </h3>
                </a>
                <div class="help-block">
                    <span class="alert-success" ng-if="project.reportTime">Sending report at {{project.reportTime}}</span>
                    <span class="alert-danger" ng-if="!project.reportTime">Not sending report</span>
                </div>
            </div>
        </div>
    </div>
</div>
