<form name="form">
    <div class="jumbotron jumbo">
        <div class="container">
            <h1>
                Report Dashboard
            </h1>
            <p class="help-block" ng-if="reportCtrl.isLoading">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </p>
        </div>
    </div>
    <div class="container mg-btm-30">
        <div class="row">
            <div class="col-sm-4" ng-repeat="dashboardItem in reportCtrl.data">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td valign="middle" align="center">
                                    <img class="img-circle border" src="{{ dashboardItem.avatarUrl }}" />
                                    <br />
                                    <strong>{{ dashboardItem.displayName }}</strong>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="text-large">
                                        {{ dashboardItem.worklogs[0].date | neatDate }}
                                        <br />
                                        <span ng-class="{'text-color-red': dashboardItem.worklogs[0].totalTimeSpentInSeconds == 0}">
                                            {{ dashboardItem.worklogs[0].totalTimeSpentInSeconds | neatDuration }}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr ng-repeat="worklogGroup in dashboardItem.worklogs" ng-if="$index > 0">
                                            <td>
                                                {{ worklogGroup.date | neatDate }}
                                            </td>
                                            <td ng-class="{'text-color-red': worklogGroup.totalTimeSpentInSeconds == 0}">
                                                {{ worklogGroup.totalTimeSpentInSeconds | neatDuration }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container hcenter">
        <button class="btn btn-success" ng-click="reportCtrl.actions.updateDashboardData()" ng-disabled="reportCtrl.isLoading">
            Update Dashboard Data
        </button>
    </div>
</form>
