<div class="panel panel-default">
    <div class="panel-body">
        <table width="100%">
            <tr class="row">
                <td valign="middle" align="center" class="col-md-5">
                    <img class="img-circle border" src="{{ dashboardItem.avatarUrl }}" />
                    <br />
                    <strong>{{ dashboardItem.displayName }}</strong>
                    <br />
                    <br />
                    <br />
                    <div class="text-large">
                        {{ dashboardItem.worklogs[0].date | neatFirstDate }}
                        <br />
                        <span ng-class="{'text-color-red': dashboardItem.worklogs[0].totalTimeSpentInSeconds == 0}">
                            {{ dashboardItem.worklogs[0].totalTimeSpentInSeconds | neatDuration }}
                        </span>
                    </div>
                </td>
                <td class="col-md-7">
                    <table class="table">
                        <tr ng-repeat="worklogGroup in dashboardItem.worklogs" ng-if="$index > 0">
                            <td>
                                {{ worklogGroup.date | neatDate }}
                            </td>
                            <td ng-class="{'text-color-red': worklogGroup.totalTimeSpentInSeconds == 0}" align="center">
                                {{ worklogGroup.totalTimeSpentInSeconds | neatDuration }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
