<form name="form">
    <div class="jumbotron jumbo">
        <div class="container">
            <h1>
                Report Dashboard
            </h1>
            <p class="help-block" ng-if="reportCtrl.isLoading">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </p>
        </div>
    </div>
    <div class="container">
        <button ng-click="reportCtrl.actions.updateDashboardData()" ng-disabled="reportCtrl.isLoading">
            Update Dashboard Data
        </button>
    </div>
    <br />
    <div class="container mg-btm-30">
        <div class="row">
            <div class="col-sm-6" ng-repeat="dashboardItem in reportCtrl.data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="mg-btm-30">
                            {{ dashboardItem.displayName }}
                            <img class="img-circle pull-right" src="{{dashboardItem.avatarUrl}}" />
                        </h4>
                    </div>
                    <div class="panel-body">
                        <table class="table mg-top-10" align="center" ng-if="dashboardItem.worklogs.length > 0">
                            <tr>
                                <td class="bg-success">
                                    {{ dashboardItem.worklogs[0].dayHumanReadable }}
                                </td>
                                <td ng-repeat="worklogGroup in dashboardItem.worklogs" ng-if="$index > 0" align="center">
                                    {{ worklogGroup.dayHumanReadable }}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-success text-center" ng-class="{'bg-danger': dashboardItem.worklogs[0].totalTimeSpentInSeconds == 0}">
                                    {{ dashboardItem.worklogs[0].totalTimeSpentHumanReadable }}
                                </td>
                                <td class="text-center" ng-repeat="worklogGroup in dashboardItem.worklogs" ng-if="$index > 0"  ng-class="{'bg-danger': worklogGroup.totalTimeSpentInSeconds == 0}">
                                    {{ worklogGroup.totalTimeSpentHumanReadable }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
