<div class="jumbotron jumbo">
    <div class="container">
        <h1>
            Reset Password
        </h1>
        <p class="help-block">
            reset your password
        </p>
    </div>
</div>
<div class="container" ng-if="pageStatus == 'loading'">
    <h3>
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </h3>
</div>
<div class="container" ng-if="pageStatus == 'loaded' && !pageHasError">
    <form name="form">
        <div class="form-group">
            <label>
                New Password
            </label>
            <div ng-form="passwordForm">
                <input name="password" type="password" class="form-control" required ng-model="form.password" ng-focus="password.focus = true" ng-blur="password.focus = false" ng-pattern=regex.Password />
                <span class="form-notification" ng-show="passwordForm.password.$error.pattern && !password.focus"><b>Enter valid password</b> (min 8 chars)</span>
            </div>
        </div>
        <div class="form-group">
            <label>
                Confirm Password
            </label>
            <div ng-form="confirmPasswordForm">
                <input name="password" type="password" class="form-control" required ng-model="form.confirmedPassword" ng-focus="confirmedPassword.focus = true" ng-blur="confirmedPassword.focus = false" ng-pattern=regex.Password />
                <span class="form-notification" ng-show="confirmPasswordForm.password.$error.pattern && !confirmedPassword.focus"><b>Enter valid password</b> (min 8 chars)</span>
            </div>
        </div>

        <div>
            <button class="btn btn-default" ng-disabled="form.$invalid || form.$pristine && status != 'error'" ng-click="changePassword(this)">Reset</button>

            <span class="status-message" ng-show="status == 'saving'">
                <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span>Loading</span>
            </span>
            <span class="status-message" ng-show="status == 'success' && form.$pristine">
                <span class="alert-success glyphicon glyphicon-ok"></span>
                <span>{{message}}</span>
            </span>
            <span class="status-message" ng-show="status == 'error' && form.$pristine">
                <span class="alert-danger glyphicon glyphicon-remove"></span>
                <span>{{message}}</span>
            </span>
        </div>
    </form>
</div>
<div class="container" ng-if="pageStatus == 'loaded' && pageHasError">
    <h1 class="alert-danger">{{message}}</h1>
</div>