<div class="container" ng-if="status == 'loading'">
    <h3>
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </h3>
</div>
<form name="form" ng-if="status == 'loaded'">
    <div class="jumbotron jumbo">
        <div class="container">
            <h1>
                {{policy.projectName}}
            </h1>
            <p class="help-block">
                Use this page to configure all options for the daily
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Send at:
                        </label>
                        <div ng-form="reportTimeForm">
                            <input name="reportTime" type="text" class="form-control" placeholder="e.g. 08:00" ng-model="policy.reportTime" ng-focus="reportTime.focus = true" ng-blur="reportTime.focus = false" ng-pattern=regex.Time />
                            <span class="form-notification" ng-show="reportTimeForm.reportTime.$error.pattern && !reportTime.focus"><b>Enter valid time</b> (23:59)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>
            Advanced options
        </h1>
        <div class="container-alternate">
            <h3>
                Recipients
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Final Draft options:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToAllUsers" />
                                Send final draft to all users
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToProjectManager" ng-checked="policy.advancedOptions.sendDraftToProjectManager || policy.advancedOptions.sendDraftToAllUsers" ng-disabled="policy.advancedOptions.sendDraftToAllUsers" />
                                Send final draft to project manager
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendDraftToOthers" />
                                Send final draft to others
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Report options:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendFinalToAllUsers" />
                                Send report to all users
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.sendFinalToOthers" />
                                Send report to others
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div ng-form="emailDraftForm">
                            <input name="emailDraft" type="text" class="form-control" placeholder="e.g. dan@equilobe.com; catalin@equilobe.com" ng-model="policy.draftEmails" ng-focus="emailDraft.focus = true" ng-blur="emailDraft.focus = false" ng-pattern=regex.Mails ng-disabled="!policy.advancedOptions.sendDraftToOthers" />
                            <span class="form-notification" ng-show="emailDraftForm.emailDraft.$error.pattern && !emailDraft.focus && !emailDraft.disabled"><b>Enter valid email</b> (dan@eq.com)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div ng-form="emailFinalForm">
                            <input name="emailFinal" type="text" class="form-control" placeholder="e.g. dan@equilobe.com; catalin@equilobe.com" ng-model="policy.emails" ng-focus="emailFinal.focus = true" ng-blur="emailFinal.focus = false" ng-pattern=regex.Mails ng-disabled="!policy.advancedOptions.sendFinalToOthers" />
                            <span class="form-notification" ng-show="emailFinalForm.emailFinal.$error.pattern && !emailFinal.focus"><b>Enter valid email</b> (dan@eq.com)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-alternate">
            <h3>
                Planning
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Expected daily team work rate (hours/day):
                        </label>
                        <div ng-form="hoursDayPlanningForm">
                            <input name="hoursDayPlanning" type="text" class="form-control" placeholder="e.g. 24" ng-model="policy.allocatedHoursPerDay" ng-focus="hoursDayPlanning.focus = true" ng-blur="hoursDayPlanning = false" ng-pattern=regex.Digits />
                            <span class="form-notification" ng-show="hoursDayPlanningForm.hoursDayPlanning.$error.pattern && !hoursDayPlanning.focus"><b>Enter valid number</b> (84)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Monthly hour limit:
                        </label>
                        <div ng-form="hoursMonthPlanningForm">
                            <input name="hoursMonthPlanning" type="text" class="form-control" placeholder="e.g. 400" ng-model="policy.allocatedHoursPerMonth" ng-focus="hoursMonthPlanning.focus = true" ng-blur="hoursMonthPlanning = false" ng-pattern=regex.Digits />
                            <span class="form-notification" ng-show="hoursMonthPlanningForm.hoursMonthPlanning.$error.pattern && !hoursMonthPlanning.focus"><b>Enter valid number</b> (584)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-alternate">
            <h3>
                Source control
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Type:
                        </label>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" value="None" ng-model="policy.sourceControlOptions.type" />
                                None
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="GitHub" ng-model="policy.sourceControlOptions.type" />
                                GitHub
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="SVN" ng-model="policy.sourceControlOptions.type" />
                                SVN
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="policy.sourceControlOptions.type == 'GitHub'">
                <div class="panel-heading">
                    <h4>
                        {{policy.sourceControlOptions.type}}
                        <small class="pull-right" ng-show="sourceControlStatus && sourceControlForm.$valid && sourceControlForm.$dirty">
                            <a role="button" ng-click="updateContributors(this)">
                                Check availability:
                            </a>
                            <span class="alert-warning glyphicon glyphicon-share-alt" ng-show="sourceControlStatus == 'changed'"></span>
                            <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="sourceControlStatus == 'loading'"></span>
                            <span class="alert-success glyphicon glyphicon-ok" ng-show="sourceControlStatus == 'success'"></span>
                            <span class="alert-danger glyphicon glyphicon-remove" ng-show="sourceControlStatus == 'error'"></span>
                        </small>
                    </h4>
                </div>
                <div class="panel-body" ng-form="sourceControlForm">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Repository Owner:
                                </label>
                                <div>
                                    <input type="text" name="gitRepoOwner" class="form-control" ng-model="policy.sourceControlOptions.repoOwner" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Repository Name:
                                </label>
                                <div>
                                    <input type="text" name="gitRepoName" class="form-control" ng-model="policy.sourceControlOptions.repo" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Username:
                                </label>
                                <div>
                                    <input type="text" name="gitUsername" class="form-control" ng-model="policy.sourceControlOptions.credentials.username" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Password:
                                </label>
                                <div>
                                    <input type="text" name="gitPassword" class="form-control" ng-model="policy.sourceControlOptions.credentials.password" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="policy.sourceControlOptions.type == 'SVN'">
                <div class="panel-heading">
                    <h4>
                        {{policy.sourceControlOptions.type}}
                        <small class="pull-right" ng-show="sourceControlStatus && sourceControlForm.$valid && sourceControlForm.$dirty">
                            <a role="button" ng-click="updateContributors(this)">
                                Check availability:
                            </a>
                            <span class="alert-warning glyphicon glyphicon-share-alt" ng-show="sourceControlStatus == 'changed'"></span>
                            <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="sourceControlStatus == 'loading'"></span>
                            <span class="alert-success glyphicon glyphicon-ok" ng-show="sourceControlStatus == 'success'"></span>
                            <span class="alert-danger glyphicon glyphicon-remove" ng-show="sourceControlStatus == 'error'"></span>
                        </small>
                    </h4>
                </div>
                <div class="panel-body" ng-form="sourceControlForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Repository Url:
                                </label>
                                <div ng-form="svnRepoUrlForm">
                                    <input name="svnRepoUrl" type="text" class="form-control" placeholder="e.g. " ng-model="policy.sourceControlOptions.repo" ng-focus="svnRepoUrl.focus = true" ng-blur="svnRepoUrl.focus = false; sourceControlStatus = 'changed'" ng-pattern=regex.Url />
                                    <span class="form-notification" ng-show="svnRepoUrlForm.svnRepoUrl.$error.pattern && !svnRepoUrl.focus"><b>Enter valid url</b> (http://drt.equilobe.com:33256/)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Username:
                                </label>
                                <div>
                                    <input name="svnUsername" type="text" class="form-control" placeholder="e.g. " ng-model="policy.sourceControlOptions.credentials.username" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Password:
                                </label>
                                <div>
                                    <input name="svnPassword" type="text" class="form-control" placeholder="e.g. " ng-model="policy.sourceControlOptions.credentials.password" ng-blur="sourceControlStatus = 'changed'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-alternate">
            <h3>
                User options
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Select user:
                        </label>
                        <select class="form-control" ng-model="user" ng-options="user as user.jiraDisplayName for user in policy.userOptions"></select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="user.jiraDisplayName.length">
                <div class="panel-heading">
                    <h4>
                        {{user.jiraDisplayName}}
                        <small class="pull-right">
                            <label ng-repeat="sourceControlUser in user.sourceControlUsernames">
                                [ {{sourceControlUser}} ]
                            </label>
                        </small>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="user.ignored" ng-checked="user.ignored" />
                                    Exclude from report
                                </label>
                                <p class="help-block">An excluded user won't show up in the report and won't receive the report</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email override:</label>
                                <div ng-form="emailOverrideForm">
                                    <input name="emailOverride" type="text" class="form-control" placeholder="e.g. dan@equilobe.com" ng-model="user.emailOverride" ng-focus="emailOverride.focus = true" ng-blur="emailOverride.focus = false" ng-pattern=regex.Mail />
                                    <span class="form-notification" ng-show="emailOverrideForm.emailOverride.$error.pattern && !emailOverride.focus"><b>Enter valid email</b> (dan@eq.com)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Source control account:
                                </label>
                                <div class="input-group">
                                    <select class="form-control" ng-model="sourceControlUsername" ng-options="sourceControlUsername for sourceControlUsername in policy.sourceControlUsernames"></select>
                                    <span class="input-group-btn">
                                        <a role="button" class="btn btn-default" ng-click="addSourceControlUsername(this)" ng-class="{'ng-hide': user.sourceControlUsernames != null && user.sourceControlUsernames.indexOf(sourceControlUsername) != -1 }" ng-disabled="sourceControlUsername == null"><span class="glyphicon glyphicon-plus"></span></a>
                                        <a role="button" class="btn btn-default" ng-click="removeSourceControlUsername(this)" ng-class="{'ng-hide': user.sourceControlUsernames == null || user.sourceControlUsernames.indexOf(sourceControlUsername) == -1 }"><span class="glyphicon glyphicon-minus"></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-alternate">
            <h3>
                Monthly options
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select month:</label>
                        <select class="form-control" ng-model="month" ng-options="month as month.monthName for month in policy.monthlyOptions"></select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="month.monthName.length">
                <div class="panel-heading">
                    <h4>{{month.monthName}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Expected daily team work rate (hours/day):
                                </label>
                                <div ng-form="hoursDayMonthlyForm">
                                    <input name="hoursDayMonthly" type="text" class="form-control" placeholder="e.g. 24" ng-model="month.allocatedHoursPerDay" ng-focus="hoursDayMonthly.focus = true" ng-blur="hoursDayMonthly.focus = false" ng-pattern=regex.Digits />
                                    <span class="form-notification" ng-show="hoursDayMonthlyForm.hoursDayMonthly.$error.pattern && !hoursDayMonthly.focus"><b>Enter valid number</b> (84)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Monthly hour limit:
                                </label>
                                <div ng-form="hoursMonthMonthlyForm">
                                    <input name="hoursMonthMonthly" type="text" class="form-control" placeholder="e.g. 400" ng-model="month.allocatedHoursPerMonth" ng-focus="hoursMonthMonthly.focus = true" ng-blur="hoursMonthMonthly.focus = false" ng-pattern=regex.Digits />
                                    <span class="form-notification" ng-show="hoursMonthMonthlyForm.hoursMonthMonthly.$error.pattern && !hoursMonthMonthly.focus"><b>Enter valid number</b> (584)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Free days:
                                </label>
                                <div ng-form="freeDaysMonthlyForm">
                                    <input name="freeDaysMonthly" type="text" class="form-control" placeholder="e.g. 1 16 31" ng-model="month.nonWorkingDays" ng-focus="freeDaysMonthly.focus = true" ng-blur="freeDaysMonthly.focus = false" ng-pattern=regex.Days />
                                    <span class="form-notification" ng-show="freeDaysMonthlyForm.freeDaysMonthly.$error.pattern && !freeDaysMonthly.focus"><b>Enter valid days</b> (1 16 31)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-alternate">
            <h3>
                Advanced
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Report title:
                        </label>
                        <input type="text" class="form-control" placeholder="e.g. {{policy.projectName}} Daily Report" ng-model="policy.advancedOptions.reportTitle" />
                        <p class="help-block">
                            If left blank the default will be used: {{policy.projectName}} Daily Report
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Reopened tasks status:
                        </label>
                        <input type="text" class="form-control" placeholder="e.g. Reopened" ng-model="policy.advancedOptions.reopenedStatus" />
                        <p class="help-block">
                            If left blank the default will be used: Reopened.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Label used for permanent tasks:
                        </label>
                        <input type="text" class="form-control" placeholder="e.g. permanent" ng-model="policy.advancedOptions.permanentTaskLabel" />
                        <p class="help-block">Permanent tasks are not closed at the end of one sprint, but are used for the same activity for multiple sprints (e.g. sprint planning, testing).</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Draft options:
                        </label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.noDraft" />
                                Do not send a draft report
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="policy.advancedOptions.noIndividualDraft" ng-checked="policy.advancedOptions.noIndividualDraft || policy.advancedOptions.noDraft" ng-disabled="policy.advancedOptions.noDraft" />
                                Do not send a draft report to each user
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Weekend days:
                        </label>
                        <div class="checkbox" ng-repeat="day in days">
                            <label>
                                <input type="checkbox" weekend-days />
                                {{day}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-alternate">
            <button class="btn btn-success" ng-disabled="form.$invalid || form.$pristine && status != 'error'" ng-click="updatePolicy(this)">
                Save advanced options
            </button>
            <span class="alert-warning glyphicon glyphicon-share-alt" ng-show="form.$dirty"></span>
            <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="status == 'saving'"></span>
            <span class="alert-success glyphicon glyphicon-ok" ng-show="status == 'success' && form.$pristine"></span>
            <span class="alert-danger glyphicon glyphicon-remove" ng-show="status == 'error' && form.$pristine"></span>
        </div>
    </div>
</form>