<div class="jumbotron jumbo">
    <div class="container">
        <h1>
            Sign In
        </h1>
        <p class="help-block">
            to tweak your report settings
        </p>
    </div>
</div>
<div class="container">
    <form name="form">
        <div class="form-group">
            <label>
                Email
            </label>
            <div ng-form="emailForm">
                <input name="email" type="text" class="form-control" required ng-model="form.email" ng-focus="email.focus = true" ng-blur="email.focus = false" ng-pattern=regex.Mail />
                <span class="form-notification" ng-show="emailForm.email.$error.pattern && !email.focus"><b>Enter valid email</b> (dan@eq.com)</span>
            </div>
        </div>
        <div class="form-group">
            <label>
                Password
            </label>
            <div>
                <input type="password" class="form-control" required ng-model="form.password" />
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="form.rememberMe" />
                Remember me
            </label>
        </div>

        <div>
            <button class="btn btn-success" ng-disabled="form.$invalid || form.$pristine && status != 'error'" ng-click="signIn(this)">
                Sign In
            </button>
            <span class="status-message" ng-show="status == 'checking'">
                <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span>Loading</span>
            </span>
            <span class="status-message" ng-show="status == 'error' && form.$pristine">
                <span class="alert-danger glyphicon glyphicon-remove"></span>
                <span>{{message}}</span>
            </span>
        </div>
    </form>
</div>