<div class="jumbotron jumbo">
    <div class="container">
        <h1>
            Sign In
        </h1>
        <p class="help-block">
            Get inside of the best JIRA reporting tool
        </p>
    </div>
</div>
<form name="form" class="container">
    <div class="panel-heading">
        <h3>
            Daily Report
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <label>
                    Email
                </label>
                <div ng-form="emailForm">
                    <input name="email" type="text" class="form-control" placeholder="Daily Report email account" required ng-model="form.email" ng-focus="email.focus = true" ng-blur="email.focus = false" ng-pattern=regex.Mail />
                    <span class="form-notification" ng-show="emailForm.email.$error.pattern && !email.focus"><b>Enter valid email</b> (dan@eq.com)</span>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Password
                </label>
                <div>
                    <input type="password" class="form-control" placeholder="Daily Report password" required ng-model="form.password" />
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="form.rememberMe" />
                    Remember me
                </label>
            </div>
        </div>
    </div>

    <div class="container">
        <button class="btn btn-success" ng-disabled="form.$invalid || form.$pristine && status != 'error'" ng-click="signIn(this)">
            Sign In
        </button>
        <span class="alert-warning glyphicon glyphicon-share-alt" ng-show="form.$dirty"></span>
        <span class="alert-info glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="status == 'checking'"></span>
        <span class="alert-success glyphicon glyphicon-ok" ng-show="status == 'success' && form.$pristine"></span>
        <span class="alert-danger glyphicon glyphicon-remove message" ng-show="status == 'error' && form.$pristine"><span>{{message}}</span></span>
    </div>
</form>