<div class="how-it-works" ng-show="isAuth">
    <div class="container">
        <div class="row steps-row">
            <div class="col-sm-4">
                <div class="alert alert-warning step">
                    <h4>
                        <span class="step-number">1</span>
                        Individual draft report
                        <span class="daily-report daily-report-small"></span>
                    </h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info step">
                    <h4>
                        <span class="step-number">2</span>
                        Full draft report
                        <span class="daily-report daily-report-small"></span>
                    </h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-success step">
                    <h4>
                        <span class="step-number">3</span>
                        Final report
                        <span class="daily-report daily-report-small"></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
