<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td width="40" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="270" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="60" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="230" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="40" height="35" style="line-height:35px">
                        <a href="https://dailyreport.equilobe.com">
                            <img style="display:block" src="https://dailyreport.equilobe.com/content/images/logo.png" />
                        </a>
                    </td>
                    <td colspan="3" style="font-family:'Montserrat',sans-serif; vertical-align:bottom; padding-bottom:5px; font-size:14px">
                        <b style="color:#29A9E1">daily</b><b style="color:black">report</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h1 style="color:black; font-weight:normal; margin:0;">Account Confirmation</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="40" style="font-size:40px; line-height:40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="20" style="padding:0px">
                        <span style="color:black; font-size:12px;">Please activate your account using the following button </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="100">
                                    &nbsp;
                                </td>
                                <td width="60" height="20" style="background-color:#5CB85C; text-align:center; border-radius:2px; padding:5px">
                                    <a href="@Model.CallbackUrl" style="text-decoration:none"> <span style="text-decoration:none; color:white; font-size:12px; line-height:12px" activate>Activate</span></a>
                                </td>
                                <td width="440">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="50" style="font-size:50px; line-height:50px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size:11px">
                        <p style="color:#ABABAB">You received this email because you subscribed for the Daily Report at <a href="http://dailyreport.equilobe.com/" style="text-decoration:none; color:black">http://dailyreport.equilobe.com</a>. For help please send an email to <a href="mailto:dailyreport@equilobe.com" style="text-decoration:none; color:black">dailyreport@equilobe.com</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>