<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td width="40" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="400" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="160" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="40" height="35" style="line-height:35px">
                        <a href="https://dailyreport.equilobe.com">
                            <img style="display:block" src="https://dailyreport.equilobe.com/content/images/logo.png" />
                        </a>
                    </td>
                    <td colspan="2" style="font-family:'Montserrat',sans-serif; vertical-align:bottom; padding-bottom:5px; font-size:14px">
                        <b style="color:#29A9E1">daily</b><b style="color:black">report</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h1 style="color:black; font-weight:normal; margin:0;">Account Confirmation</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="40" style="font-size:40px; line-height:40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="color:black">Please confirm your account by clicking <a href="@Model.CallbackUrl" style="text-decoration:none; color:#0000EE">here</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>