@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Professional Daily Reporting Tool">
    <meta name="author" content="Equilobe Software">
    <base href="/">
    <title>
        Daily Report
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/maincss")
    @*@Html.IncludeConnectJs()*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/signUp.js"></script>
    <script src="~/app/signIn.js"></script>
    <script src="~/app/instances.js"></script>
    <script src="~/app/projects.js"></script>
    <script src="~/app/policy.js"></script>
    <script src="~/app/confirmEmail.js"></script>
    <script>
        var isAuth = @this.Context.User.Identity.IsAuthenticated.ToString().ToLower();
    </script>
</head>

<body ng-controller="AppCtrl">
    <div id="jumbo">
        <div class="container">
            <a ng-href="/app/list" class="btn btn-default" ng-show="isAuth">Instances</a>
            <div class="pull-right">
                <a ng-href="/app/signup" class="btn btn-default" ng-show="!isAuth">Sign Up</a>
                <a ng-href="/app/signin" class="btn btn-default" ng-show="!isAuth">Sign In</a>
                <button class="btn" ng-click="signOut(this)" ng-show="isAuth">Sign Out</button>
            </div>
        </div>
    </div>

    <div ng-view></div>

    @Html.Partial("_HowItWorks")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>