@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Professional Daily Reporting Tool">
    <meta name="author" content="Equilobe Software">
    <base href="/">
    <title>
        Daily Report
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/maincss")
    @*@Html.IncludeConnectJs()*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/signUp.js"></script>
    <script src="~/app/signIn.js"></script>
    <script src="~/app/instances.js"></script>
    <script src="~/app/projects.js"></script>
    <script src="~/app/policy.js"></script>
</head>

<body>
    <div ng-view></div>

    @Html.Partial("_HowItWorks")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
</body>
</html>