
@{
    ViewBag.Title = "Plugin Test Daily Reporting Tool";
}

<h2>@ViewBag.Title.</h2>

<script type="text/javascript">
    window.projects = @Html.Raw(Model.projects);
</script>

<p>METHOD RESOLVED - RESULT OK</p>